body{
    max-width: 1000px;
    margin: auto;
    font-family: Roboto;
    font-size: 17px;
    background-color: rgb(238,233,229);
}
div{
    border: none;
}
.box{
    display: inline-block;
    width: 50%;
    float: left;
}
.list_box{
    width: 100%;
    overflow: hidden;
}
#image{
    float: left;
    padding: 0px 20px  20px 20px;
}
#identity{
    overflow: auto;
}
#background-img{
    background-image: url("img/bat_cover.jpg");
    height: 450px;
    padding-top: 50px;
    color: #fff;
    margin-top: 25px
}
#content{
    background-color: rgba(0,0,0,0.7);
    max-width: 450px;
    padding: 30px 20px;
    margin-top: 50px;
}

.thumbnails{
    display: inline-block;
    height: auto;
    padding: 4px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #a4a4a4;
    text-align: center;
    margin: 50px;
}
table{
    border: 1px;
    width: 100%;
    border-collapse: collapse;
}
th,td{
    padding: 15px;
    border: 1px solid black;
    height: 30px;
}
th{
    text-align: left;
    background-color: #ececec;
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    bottom: 1px solid black;
}
li a{
    display: block;
    color: #666;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}
.torr{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.torr a:hover{
    background-color: rgb(255,155,155);
}
.logo {
    float: left;
    height: 18px;
    
}
.header
{
    padding: 5px 5px;

}
@media (min-width: 320px) { .container  {
                                width: 320px;
                            }   }
@media (min-width: 481px) { .container  {
                                width: 481px;
                            }}
@media (min-width: 641px)   {   .container  {
                                    width: 641px;
                                }}
@media (min-width: 961px)   {   .container  {
                                    width: 961px;
                                }}
@media (min-width: 1000px)  {   .container  {
                                    width: 1000px;
                                }}
@media (max-width: 481px) {
    .box{
        width: 100%
    }
    #image{
        width: 100%
    }
    h2{
        text-align: center;
    }
}
#movies{
    overflow: auto;
}
#identity{
    overflow: visible;
}
#villains{
    overflow: auto;
}
#dark{
    overflow: auto;
}
#knight{
    overflow: auto;
}
#batman{
    overflow: auto;
}